@font-face {
    font-family: "Share Tech Mono";
    src: url("../fonts/ShareTechMono-Regular.ttf");
}

body {
    background: #0f3854;
    background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 70%);
    background-size: 100%;
}

#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 140%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);
}

.time {
    letter-spacing: 0.05em;
    font-size: 40px;
    padding: 5px 0;
}

.date {
    letter-spacing: 0.1em;
    font-size: 20px;
}

.text {
    letter-spacing: 0.1em;
    font-size: 20px;
    padding: 10px 0 0;
}
